.menu > li > a {
  color: white;
  border: 1px solid white;
  margin-left: 5px;
}

.menu > li > a:hover {
  background-color: white;
  color: #0099ff;
}

.menu > li > a:active {
  background-color: white;
  color: #0099ff;
}

.top-bar {
  padding: 0.7rem;
  background-color: #0099ff;
  font-style: Tahoma,Verdana,Helvetica,Arial;
}

.adopt-now {
  background-color: #ff9933;
  padding: 2rem 3rem;
  font-size: 50px;
  margin-top: 2rem;
  border-radius: 30px;
}

.adopt-now:hover {
  background-color: #ff9933;
}

.adopt-now-row {
  background-color: #0099ff;
  padding-bottom: 100%;
}

.homepage-div-medium {
  background-size: cover;
  background-image: url("/images/happy-man-on-train.jpeg");
  height: 35rem;
}

.homepage-div-medium .text-div {
  margin-top: 13%;
  color: black;
  font-size: 35px;
}

.homepage-div-small {
  background-size: cover;
  background-image: url("/images/happy-man-on-train.jpeg");
  height: 15rem;
}

.homepage-div-small .text-div {
  margin-top: 9%;
  color: black;
  font-size: 20px;
}

.get-involved-page {
  border: 3px solid #0099ff;
  padding: 1.5rem;
  margin: 2rem 1rem 0 1rem;
}

.april-foolz .hide-for-small-only {
  font-size: 15rem;
  color: red;
  font-family: 'Indie Flower', cursive;
}

.april-foolz .show-for-small-only {
  font-size: 5rem;
  color: red;
  font-family: 'Indie Flower', cursive;
}

.take-the-plunge {
  margin-top: 1rem;
  border: 3px solid #0099ff;
  margin: 2rem 1rem 0 1rem;
}

form {
  margin-top: 1rem;
}

form label {
  color: #0099ff;
  font-size: 1rem;
}

#perfect-owners {
  color: #0099ff;
}
