<div class="row take-the-plunge ">
  <div class="small-12 small-centered columns">
    <p>We see you’ve decided to take the plunge!</p>
    <p>We take this <span id="perfect-owners">verrrry</span> extremely seriously and match subway lines with <span id="perfect-owners">ONLY THE MOST PERFECT OWNERS</span> based on a rigorous application process and personality assessment:</p>
  </div>
</div>

<form action="/april_fools" method="get">
  <div class="row">
    <div class="small-12 columns">
      <label><strong>The color of your lightsaber would be:</strong></label>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <select name="lightsaber">
       <option value="blue">Blue</option>
       <option value="green">Green</option>
       <option value="red">Red</option>
       <option value="other">Other</option>
     </select>
    </div>
  </div>

  <div class="row">
    <div class="small-12 columns">
      <label><strong>If you were one of the undead, you would be a(n):</strong></label>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <select name="undead">
       <option value="zombie">Zombie</option>
       <option value="mummy">Mummy</option>
       <option value="vampire">Vampire</option>
       <option value="ghost">Ghost</option>
     </select>
    </div>
  </div>

  <div class="row">
    <div class="small-12 columns">
      <label><strong>If you could only eat ONE type of chocolate for the rest of your life, it would be:</strong></label>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <select name="chocolate">
       <option value="milk">Milk</option>
       <option value="dark">Dark</option>
       <option value="white">White</option>
       <option value="no-like">I'm one of those mutants who doesn't like chocolate</option>
     </select>
    </div>
  </div>

  <div class="row">
    <div class="small-12 columns">
      <label><strong>If you could only eat ONE type of chocolate for the rest of your life, it would be:</strong></label>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <select name="holiday">
       <option value="halloween">Halloween</option>
       <option value="st-patrick">St. Patrick's Day</option>
       <option value="thanksgiving">Thanksgiving</option>
       <option value="independence">Independence Day</option>
     </select>
    </div>
  </div>

  <div class="small-12 small-centered columns">
    <input type="submit" class="button small" />
  </div>
</form>
