<div class="row">
  <div class="small-12 small-centered columns april-foolz">
    <p class="text-center hide-for-small-only animated tada">HAPPY APRIL FOOLS!</p>
    <p class="text-center show-for-small-only animated tada">HAPPY APRIL FOOLS!</p>
  </div>
</div>
<div class="row">
  <div class="small-12 small-centered columns april-foolz-explanation">
    <p>We hope you enjoyed our little app!</p>
    <p>We are NOT in fact affiliated with the MBTA, nor is anyone (to our knowledge) offering up subway lines for adoption. Apologies to anyone who envisioned becoming a proud parent of the Red Line.</p>
    <p>DO have a happy April 1st! DON'T trust everything you read online.</p>
    <p>xx Rivka and Lily</p>
  </div>
</div>
