<div class="row">
  <div class="small-12 small-centered columns april-foolz">
    <p class="text-center hide-for-small-only animated tada infinite">APRIL FOOLS!</p>
    <p class="text-center show-for-small-only animated tada infinite">APRIL FOOLS!</p>
  </div>
</div>
