<div class="get-involved-page">
  <div class="row">
    <div class="small-12 small-centered columns text-center">
      <h2><strong>Volunteer with AdopT!</strong></h2>
    </div>
  </div>

  <div class="row">
    <div class="small-12 small-centered columns">
      <h3>What Do Volunteers Do?</h3>
    </div>
  </div>

  <div class="row">
    <div class="small-12 small-centered columns">
      <strong>Give trains that <em>special</em> human contact.</strong>

      <p>We're looking for volunteers to manspread and take up as much space as humanly possible.</p>
    </div>
  </div>
  <div class="row">
    <div class="small-12 small-centered columns">
      <strong>Socialize our trains.</strong>

      <p>We need selfless volunteers to take selfies using the reflective windows, grace our trains with your loud, giggling presence while intoxicated on a Friday night, and engage in political debates on your cell phone during rush hour. Proper socializing is important to our trains' emotional health.</p>
    </div>
  </div>

  <div class="row">
    <div class="small-12 small-centered columns">
      <strong>Teach our trains</strong>

      <p>Train our subways to do fun tricks, like "stall for 2 hours" or "run express to Park Street!"</p>
    </div>
  </div>

  <div class="row">
    <div class="small-12 small-centered columns">
      <strong>Help with the adoption process</strong>

      <p>Get to know our subways and help connect them with owners who understand and can provide for their needs in a loving manner.</p>
    </div>
  </div>

  <div class="row">
    <div class="small-12 small-centered columns">
      <strong>Any way you contribute, you can bring joy and love into the lives of our subway trains! To volunteer, please fill out this application form today.</strong>
    </div>
  </div>
</div>
