<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AdopT</title>

    <link rel="stylesheet" href="/css/foundation.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>

    <div class="title-bar" data-responsive-toggle="nav-menu" data-hide-for="medium">
    <button class="menu-icon float-right" type="button" data-toggle="nav-menu"></button>
    <div class="title-bar-title"><a href="/"><img src="/images/AdopT.png"/></a></div>
  </div>

    <div class="top-bar" id="nav-menu">
      <div class="top-bar-left hide-for-small-only">
        <a href="/"><img src="/images/AdopT.png"/></a>
      </div>
      <div class="top-bar-right hide-for-small-only">
        <ul class="menu">
          <li><a href="/mission">MISSION</a></li>
          <li><a href="meet_the_subway_lines">MEET THE SUBWAYS</a></li>
          <li><a href="get_involved">GET INVOLVED</a></li>
          <li><a href="adopt_now">ADOPT NOW!</a></li>
        </ul>
      </div>
      <div class="top-bar-right show-for-small-only">
        <ul class="vertical menu">
          <li><a href="/mission">MISSION</a></li>
          <li><a href="meet_the_subway_lines">MEET THE SUBWAYS</a></li>
          <li><a href="get_involved">GET INVOLVED</a></li>
          <li><a href="adopt_now">ADOPT NOW!</a></li>
        </ul>
      </div>
    </div>

    <!-- print flash messages -->
    <% flash.each do |type, message| %>
      <div class="flash flash-<%= type %>">
        <%= message %>
      </div>
    <% end %>

    <!-- main content -->
    <%= yield %>

    <script src="/js/vendor/jquery.js"></script>
    <script src="/js/vendor/what-input.js"></script>
    <script src="/js/vendor/foundation.js"></script>
    <script src="/js/app.js"></script>
  </body>
</html>
