<div class="homepage-div-medium hide-for-small-only">
  <div class="row">
    <div class="small-7 small-centered columns text-center text-div">
      <h3><bold><i>Our Mission</i></bold></h3>
      <div>AdopT is a steadfast champion for the MBTA subway system, committed to finding loving owners for subway lines.</div>
    </div>
  </div>
</div>

<div class="homepage-div-small show-for-small-only">
  <div class="row">
    <div class="small-12 small-centered columns text-center text-div">
      <h1><strong>Our Mission</strong></h1>
      <div><strong>AdopT is a steadfast champion for the MBTA subway system, committed to finding loving owners for subway lines.</strong></div>
    </div>
  </div>
</div>

<div class="adopt-now-row">
  <div class="small-12 small-centered columns text-center">
    <a href="/adopt_now" class="button large adopt-now">Adopt Now!</a>
  </div>
</div>
