<div class="homepage-div-medium hide-for-small-only">
  <div class="row">
    <div class="small-7 small-centered columns text-center text-div">
      <h3><bold><i>Our Mission</i></bold></h3>
      <div>AdopT is committed to finding loving owners for lonesome subway lines.</div>
    </div>
  </div>
</div>

<div class="homepage-div-small show-for-small-only">
  <div class="row">
    <div class="small-12 small-centered columns text-center text-div">
      <h1><strong><i>Our Mission</i></strong></h1>
      <div><strong>AdopT is committed to finding loving owners for lonesome subway lines. </strong></div>
    </div>
  </div>
</div>

<div class="adopt-now-row hide-for-small-only">
  <div class="medium-6 columns text-center">
    <a href="/meet_our_subway_lines" class="button large adopt-now">Meet Our Subway Lines</a>
  </div>
  <div class="medium-6 columns text-center">
    <a href="/adopt_now" class="button large adopt-now">Apply Now!</a>
  </div>
</div>

<div class="adopt-now-row show-for-small-only">
  <div class="row">
    <div class="small-12 small-centered columns text-center">
      <a href="/meet_our_subway_lines" class="button small adopt-now">Meet Our Subway Lines</a>
    </div>
  </div>
  <div class="row">
    <div class="small-12 small-centered columns text-center">
      <a href="/adopt_now" class="button small adopt-now">Apply Now!</a>
    </div>
  </div>
</div>
